In [1]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
print(f"Ramesh age is : {age[0]}")
print(f"Suresh age is : {age[1]}")
print(f"satish age is : {age[2]}")

Ramesh age is : 20
Suresh age is : 25
satish age is : 30

In [2]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i in range(len(names)):
    print(f"{names[i]} age is : {age[i]}")

Ramesh age is : 20
Suresh age is : 25
Satish age is : 30

**zip operator**

In [8]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [9]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Satish 30
Satish age is 30

In [5]:
[f"{i} : {j}" for i,j in zip(names,age)]

['Ramesh : 20', 'Suresh : 25', 'Satish : 30']

**dictionaries**

- in above example names and age both are together

- when both are together we can pair them

- this can happen using dictionary

- dictionary is called as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [6]:
d1={'Ramesh':20,'Suresh':25,'satish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'satish': 30}

In [13]:
d2={20:'Ramesh',25:'Suresh',30:'satish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'satish'}

In [17]:
d3={'Ramesh':'20','Suresh':'25','Satish':30}
d3

{'Ramesh': '20', 'Suresh': '25', 'Satish': 30}

In [19]:
d4={'20':'Ramesh','25':'Suresh',30:'Satish'}
d4

{'20': 'Ramesh', '25': 'Suresh', 30: 'Satish'}

In [20]:
d5={'Ramesh':'20','Ramesh':'30'}
d5
# if both keys are same it will take the latest value
# dictionarys are kind of database

{'Ramesh': '30'}

In [21]:
d6={'Ramesh':'20','Ramesh':'20'}
d6
# dictionary does not allows duplicate
# in dictionary keys place vital role
# in dictionary keys cannot be duplicate but values can be duplicate

{'Ramesh': '20'}

In [22]:
d7={'Ramesh':'20','Suresh':'30'}
d7

{'Ramesh': '20', 'Suresh': '30'}

In [24]:
d8={20:'Ramesh',20:'Suresh'}
d8

{20: 'Suresh'}

In [25]:
d9={True:'true'}
d9

{True: 'true'}

In [26]:
d10=['fruites':['Apple','Banana']}
d10

{'fruites': ['Apple', 'Banana']}

In [29]:
d11={['Apple','Banana']:'fruites'}
d11

TypeError: unhashable type: 'list'

In [30]:
d12={'fruites':('Apple','Banana')}
d12

{'fruites': ('Apple', 'Banana')}

In [31]:
d13={['Apple','Banana':'fruites'}
d13

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (3318138358.py, line 1)

In [33]:
d14={('Apple','Banana'):'fruites'}
d14

{('Apple', 'Banana'): 'fruites'}

**list as keys fails because list has a mutable behaviour**

**tuple as keys works because tuple has immutable behaviour**

**in dictionary keys are very very important**

**keys doesnot change so when we apply list is failing**

In [14]:
d3={20:20,30:30,40:40}
d3

{20: 20, 30: 30, 40: 40}

In [15]:
d4={'python':'string','name':'age'}
d4

{'python': 'string', 'name': 'age'}

In [16]:
d5={200:['name','age'],300:['python','subject']}
d5

{200: ['name', 'age'], 300: ['python', 'subject']}

- if both keys are same it will take the latest value

- dictionaries doesnot allows duplicates

- in dictionaries keys plays vital role

- keys cannot be duplicate but values can be duplicate

In [1]:
d14={'fruites':{'Apple':20}} # works
d14

{'fruites': {'Apple': 20}}

In [2]:
d15={{'Apple':20}:'fruites'} # fails
d15

TypeError: unhashable type: 'dict'

In [ ]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}

In [3]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
min(dict1)

'Apple'

In [5]:
max(dict1)

'Cherry'

In [22]:
print(dict1)

{'Apple': 20, 'Banana': 30, 'Cherry': 50}

In [23]:
type(dict1)

dict

In [6]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
len(dict1)

3

In [8]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [30]:
list(reversed(dict1))

['Cherry', 'Banana', 'Apple']

In [11]:
dict2={'Apple':20,'apple':30}
min(dict2)

'Apple'

In [12]:
max(dict2)

'apple'

In [24]:
print(dict2)

{'Apple': 20, 'apple': 30}

In [25]:
type(dict2)

dict

In [13]:
len(dict2)

2

In [14]:
sum(dict2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
sorted(dict2)

['Apple', 'apple']

In [31]:
list(reversed(dict2))

['apple', 'Apple']

In [17]:
dict3={20:'Apple',30:'Banana',50:'Cherry'}
min(dict3)

20

In [18]:
max(dict3)

50

In [26]:
print(dict3)

{20: 'Apple', 30: 'Banana', 50: 'Cherry'}

In [27]:
type(dict3)

dict

In [19]:
len(dict3)

3

In [20]:
sum(dict3)

100

In [21]:
sorted(dict3)

[20, 30, 50]

In [32]:
list(reversed(dict3))

[50, 30, 20]

In [ ]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}

In [37]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1

True

In [38]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [39]:
20 in dict1

False

In [40]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1
'Banana' in dict1
'Cherry' in dict1

True

In [41]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [42]:
for i in range(len(dict1)):
    print(i)

0
1
2

In [ ]:
**index**

In [43]:
l1=[10,20,30]
l1[0]

10

In [44]:
str1='python'
str1[0]

'p'

In [45]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1[0]    #key error means we can provide wrongly

KeyError: 0

**how to extract the values**

- in dictionary we have a concept key value pair

- keys are very important in order to get the values we need to take the keys help

In [48]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1['Apple']
dict1['Banana']
dict1['Cherry']

50

In [49]:
dict1['Apple']

20

In [50]:
dict1['Banana']

30

In [51]:
dict1['Cherry']

50

In [54]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [58]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
for i in names:
    print(f"{i} age is : {names[i]}")

Ramesh age is : 20
Suresh age is : 25
Satish age is : 30

In [67]:
d={'fruites':['Apple','Banana','Cherry']}
d['fruites'][2]

'Cherry'

In [74]:
d={'fruites':{'Apple':['Sweet','Sour','Green']}}
d['fruites']['Apple'][2]

'Green'

In [83]:
d={'fruites':[{'Cost':[50]}]}
d['fruites'][0]['Cost'][0]

50

In [95]:
d={'fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['1kg'][2]

40

In [100]:
d['Cost'][0]['2kg']

In [117]:
d={'fruites':{'Orange':{'Nagpur':{'MH':{'king':{'Shivaji':{'Shambaji'}}}}}}}
d['fruites']['Orange']['Nagpur']['MH']['king']['Shivaji']

{'Shambaji'}

**how to create empty dictionary**

- now onwards focus on creation of empty list,strings,tuple,and dictionary

- we will take empty list will use append operatin to create it

- we will take empty string will use concatenation operation to create it

- we will take empty dictionary will use key:value pair operation to create it

In [118]:
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [119]:
s=''
s=s+'p'
s=s+'y'
s

'py'

In [121]:
s=''
s=s+'python'
s

'python'

In [122]:
d={}
d['Ramesh']=20
d

{'Ramesh': 20}

In [125]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [ ]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Satish']=30
d
# d[i]=j

**how to convert list to dictionary**

In [127]:
names=['Ramesh','Suresh','Satish'] # i
age=[20,25,30] # j
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [130]:
names=['Ramesh','Suresh','Satish'] # i
age=[20,25,30] # j
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [131]:
names=['Ramesh','Suresh','Satish'] # i
age=[20,25,30] # j
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list

- for dictionary comprehension we should write everything inside dictionary

- list comprehension : [<output> <for loop>]

- dictionary comprehension : {<key:value> <for loop>]

In [134]:
names=['Ramesh','Suresh','Satish'] 
age=[20,25,30] 
output={i:j for i,j in zip(names,age)}
output

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**mutable-immutable**

- lists are mutable

- dictionaries are also mutable

- strings are immutable

- tuple are immutable

- in dictionaries we can change values by using keys

In [136]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Satish': 30}

**methods**

In [138]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.clear()
d

{}

In [7]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d1=d.copy()
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [13]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
keys=d.keys()
keys # it doesnot list

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [14]:
type(keys)

dict_keys

**convert dictionary to list**

- in order to convert dictionary to list 

- first we need to seperate keys and values 

- then apply list type casting

In [16]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Satish']

In [17]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [19]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [20]:
type(keys_list),type(keys)

(list, dict_keys)

In [22]:
keys_list.count('Ramesh')

1

In [ ]:
list====string  using join
string====list using split
list====dictionary  using zip
dictionary====list using typecasting

In [31]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
fname,sname,cname=[],[],[]
d={}
first_dot=i.index('.')
second_dot=i.index('.',first_dot+1)
at_the_rate=i.index('@')
fname.append(i[:first_dot])
sname.append(i[first_dot+1:at_the_rate])
cname.append(i[at_the_rate+1:second_dot])
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat'], 'Sname': ['kohli'], 'Cname': ['rcb']}

**pop and popitem**

In [37]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.pop('Ramesh')
d

{'Suresh': 25, 'Satish': 30}

In [38]:
d.pop('Suresh')
d

{'Satish': 30}

In [42]:
l1=['Ramesh','Suresh','Satish']
l1.remove('Ramesh')
l1

['Suresh', 'Satish']

- **pop** in dictionary similar analogy **remove** in list

In [43]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.popitem()
d

{'Ramesh': 20, 'Suresh': 25}

In [44]:
l1=['Ramesh','Suresh','Satish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **popitem** in dictionary sikmilar analogy **pop** in list

**get**

In [45]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.get('Ramesh')

20

In [46]:
d['Ramesh'] # key as an index

20

**update**

- update is similar to list extend

- take two dictionaries and apply update method

In [51]:
d1={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d2={'Apple': 20,'Banana': 25,'Cherry': 30}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Satish': 30,
 'Apple': 20,
 'Banana': 25,
 'Cherry': 30}

In [52]:
l1=['Ramesh','Suresh','Satish']
l2=['Apple','Banana','Cherry']
l1.extend(l2)
l1

['Ramesh', 'Suresh', 'Satish', 'Apple', 'Banana', 'Cherry']

- update in dictionary is similar analogy list extend

**setdefault**

- suppose a dictionary already existed 

- we can update the dictionary with new **key : value** pair

In [59]:
d1={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d1.setdefault('Manish')
d1.setdefault('Mahesh',35)
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Manish': None, 'Mahesh': 35}

- setdefault in dictionary similar analogy list append

- dictionary is a key : value pair concept

- it never involves index operations

- thats y we dnt have any index or find methods

- we have get method to extract values using key

**fromkeys**

- create a dictioanry with different keys but same value

- fromkeys takes a argument of **iterable**

- try to provide iterator i.e string,tuple,list

In [64]:
d={}
names=['Ramesh','Suresh','Satish']
d.fromkeys(names,'NareshIT')

{'Ramesh': 'NareshIT', 'Suresh': 'NareshIT', 'Satish': 'NareshIT'}

In [65]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- **pop** in dictionary similar analogy **remove** in list

- **popitem** in dictionary similar analogy **pop** in list

- **update** in dictionary is similar analogy list **extend**

- **setdefault** in dictionary similar analogy list **append**

- **get** in dictionary similar analogy to list **index**

- list has count string has count and tuple has also count

  - but dictionaries doesnt have **count**

  - dictionaries doesnt use **duplicate**

- string has find but list doesnt have