In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10), print(20)

10
20

(None, None)

In [5]:
10, 20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30, 'Nareshit','Hyd')
# 3 values

30 Nareshit Hyd

In [8]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
# num1 and num2 should be in black color
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [9]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
# num1 and num2 should be in black color
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [30]:
name="python"
age="10"
city="hyd"
# my name is python im 10 years old come from hyd
print("my name is python im 10 years old come from hyd")
print("my name is",name,"im",age," years old and come from",city)

my name is python im 10 years old come from hyd
my name is python im 10  years old and come from hyd

**format**

In [14]:
name="pythn"
age="10"
city="hyd"
print("my name is {} im {} years old come from {}".format(name,age,city))

my name is pythn im 10 years old come from hyd

In [15]:
num1=1000
num2=200
add=num1+num2
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [ ]:
# wap take two numbers perform the 
# substraction
# multiplication
# division
# print the statements as follows

# the substraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the didision of 100 and 200 is 0.5

In [17]:
num1=100
num2=200
sub=num1-num2
print("the substraction of {} and {} is {}".format(num1,num2,sub))

the substraction of 100 and 200 is -100

In [24]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

the multiplication of 100 and 200 is 20000

In [23]:
num1=100
num2=200
div=100/200
print("the division of {} and {} is {}".format(num1,num2,div))

the division of 100 and 200 is 0.5

In [ ]:
# wap take three numbers
# avg=(a+b+c)/3
# print the statement
# the avg of a,b,c is :

In [38]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of {}, {} and {} is : {}".format(a,b,c,avg))

the average of 10, 20 and 30 is : 20.0

**f string method**

In [30]:
num1=1000
num2=200
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

the addition of 1000 and 200 is 1200

In [31]:
num1=1000
num2=200
sub=num1-num2
print(f"the substraction of {num1} and {num2} is {sub}")

the substraction of 1000 and 200 is 800

In [32]:
num1=1000
num2=200
mul=num1*num2
print(f"the multiplication of {num1} and {num2} is {mul}")

the multiplication of 1000 and 200 is 200000

In [33]:
num1=1000
num2=200
div=num1/num2
print(f"the division of {num1} and {num2} is {div}")

the division of 1000 and 200 is 5.0

In [24]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(f"the average of {a}, {b} and {c} is : {avg}")

the average of 10, 20 and 30 is : 20.0

**round**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

- ctrl+a and ctrl+/ used for # statement

In [36]:
round(6.4)

6

**round**
round(10.77777,2)

In [39]:
print(round(10.77777))

11

In [40]:
print(round(10.77777,2))

10.78

In [41]:
print(round(10.77777,3))

10.778

In [43]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(round(avg,2))

20.33

**i have multiple print statements**
**but i want to show in single line**

In [45]:
print(10)
print(20)

10
20

**end operator**

In [46]:
print(10,end=" ")
print(20)

10 20

In [47]:
print(10,end=" ")
print(20)
print(30)

10 20
30

In [48]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [6]:
print('hello',end=" ")
print('how',end=" ")
print('are',end=" ")
print('you')

hello how are you

In [7]:
print(10,20,30,sep=' ')

10 20 30

In [52]:
print(10,20,30,sep='====>')

10====>20====>30

- basic print statement

- we learn format method

- we learn f string method

- we learn round method

- we learn end operator

- we learn sep operator

In [ ]:
# wap take the radius of a circle calculate area of the circle
# var1= radius
# var2 : pi= 3.14
# formulae : pi*radius*radius
# print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: breadth var2: height
# formulaw: 0.5* breadth*height

# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formulae

# wap take the length and breadth of a rectangle  calculate area
# var1: length var2: breadth
# fprmulae: length*breadth

In [1]:
radius=20
pi=3.14
area=pi*radius*radius
print(f"the area of circle is:{area}")

the area of circle is:1256.0

In [11]:
breadth=20
height=40
area=0.5*breadth*height
print(f"the area of triangle is:{area}")

the area of triangle is:400.0

In [12]:
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
total_bill

1200

In [4]:
breadth=20
height=40
area=breadth*height
print(f"the area of reactangle is:{area}")

the area of reactangle is:15000

In [13]:
radius=20
pi=3.14
area=pi*radius*radius
print("the area of circle is:{}".format(area))

the area of circle is:1256.0

In [14]:
breadth=20
height=40
area=0.5*breadth*height
print("the area of triangle is:{}".format(area))

the area of triangle is:400.0

In [15]:
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
print("the total bill amount is:{}".format(total_bill))

the total bill amount is:1200

In [16]:
breadth=20
height=40
area=breadth*height
print("the area of reactangle is:{}".format(area))

the area of reactangle is:800

In [ ]:
radius=20
pi=3.14

breadth=20
height=40

bill_amount=1000
tip_amount=200

**input**

- in above we provided the value

- input is the inbuilt function

- using input the user can provide any value

In [4]:
input

**note:whenever if we see bound method or function which indicates we forgot the brackets**

In [1]:
input()

 100

'100'

In [2]:
input()

 python

'python'

In [3]:
a=100
type(a)

int

In [4]:
b=input()
b

 200

In [5]:
name="python"
name

'python'

In [6]:
name=input()
name

 nareshit

'nareshit'

In [1]:
n1=input() # n1= '100'
n2=input() # n2= '200'
n3=input() # n3= '300
n1,n2,n3

 100
 200
 300

('100', '200', '300')

In [ ]:
n1=input("enter the number1:")
n2=input("enter the number2:")

#n1='100'
#n2='200'

In [4]:
n1=input("enter the number1:") #n1='500'
n2=input("enter the number2:") #n2='600'
n1+n2 # '500'+'600'='500600'

enter the number1: 500
enter the number2: 600

'500600'

**input values by  default string type**

In [5]:
'100'+'200'

'100200'

In [6]:
100+200

300

In [7]:
str1='apple'
str2='is'
str3='fruite'
str1+str2+str3

'appleisfruite'

In [3]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1:   apple
enter a string2:   is
enter a string3:   fruite

'  apple  is  fruite  '

In [10]:
n1=int(input("enter the number1:")) # n1=int('500')=500
n2=int(input("enter the number2:")) # n2=int('600')=600
n1+n2 # 500+600=1100

enter the number1: 500
enter the number2: 600

1100

In [11]:
n1=int('500')
n2=int('600')
n1+n2

1100

In [12]:
n1=input("enter the number1:") # n1='500'
n2=input("enter the number2:") # n2='600'
int(n1)+int(n2) # int('500)+int('600')=500+600=1100

enter the number1: 500
enter the number2: 600

1100

In [ ]:
n1=int(input("enter the number1:")) # n1=int('500')=500
n2=int(input("enter the number2:")) # n2=int('600')=600
n1+n2 # 500+600=1100

n1=input("enter the number1:") # n1='500'
n2=input("enter the number2:") # n2='600'
int(n1)+int(n2) # int('500)+int('600')=500+600=1100

In [5]:
n1=float(input("enter the number1:"))
n2=int(input("enter the number2:"))
n1+n2

enter the number1: 11
enter the number2: 20

31.0

**eval**

- eval means evaluate

- it is related to math family

- which means it works only number represent a strings

- it will not works on english letters

- eval will convert the respective data type which is user enter 

- if user enter 10 in quotes it will convert into 10

- if user enter 10.5 in quotes it willconvert into 10.5

In [17]:
int('10') # 10
int('10.5')  # error

float('10') # 10.0
float('10.5') # 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [16]:
eval('10'),eval('10.5')

(10, 10.5)

In [20]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
n1+n1

enter the number1: 11
enter the number2: 10.5

22

In [ ]:
# 1)wap ask the user enter 3 numbers n1,n2,n3 from keyboard
# calculate average

# 2)wap askthe user enter name age city
# print my name is python im 10 years old and come from hyd

# 3)wap ask the user to enter radius  of a circle calculate area of the circle
# var: radius var:  pi-3.14
# formulae: pi*radius*radius
# prnt the answers using f string and format

# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: breadth var2: height
# formulae: 0.5*breadth*height

# 5)wap ask the user the bill amount and tip amount
# calculate the total bill
# var1: bill amount  var2: tip amount
# formulae

# 6)wap ask the user the bill amount and tip percentage
# take tip percentage as 10
# calculate total bill= bill amount+tip amount*tip per/100
# var1: bill amount var2: tip amount
# formulae

# 7)wap ask the length and breadth of a rectangle calculate area
# var1: length var2:breadth
# formulae: length * breadth

# 8)wap ask the user take the radius and calculate volume of sphere
# formulae: pi*r**3(pi*r*r*r)

# 9)wap ask the user enter amount in dollars convert into rupees
#  1$=85rs

# 10)wap ask the user enter weight in kgs convert into pounds
# lkg=2.2pounds

- strings or english does not require eval

- avg= eval(n1+n2+n3)

In [22]:
n1=10
n2=20
n3=30
avg=(n1+n2+n3)/3
print(f"enter the average {n1},{n2} and {n3} is : {avg}")

enter the average 10,20 and 30 is : 20.0

In [23]:
n1=10
n2=20
n3=30
avg=(n1+n2+n3)/3
print("enter the average {},{} and {} is : {}".format(n1,n2,n3,avg))

enter the average 10,20 and 30 is : 20.0

In [32]:
name="python"
age="10"
city="hyd"
print(f"my name is {name} im {age} years old and come from {city}")

my name is python im 10 years old and come from hyd

In [33]:
name="python"
age="10"
city="hyd"
print("my name is {} im {} years old and come from {}".format(name,age,city))

my name is python im 10 years old and come from hyd

In [34]:
radius=20
pi=3.14
area=pi*radius*radius
print(f"the area of circle is : {area}")

the area of circle is : 1256.0

In [35]:
radius=20
pi=3.14
area=pi*radius*radius
print("the area of circle is : {}".format(area))

the area of circle is : 1256.0

In [36]:
breadth=20
height=40
area=0.5*breadth*height
print(f"the area of right angle triangle is : {area}")

the area of right angle triangle is : 400.0

In [37]:
breadth=20
height=40
area=0.5*breadth*height
print("the area of right angle triangle is : {}".format(area))

the area of right angle triangle is : 400.0

In [38]:
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
print(f"the total bill is : {total_bill}")

the total bill is : 1200

In [39]:
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
print("the total bill is : {}".format(total_bill))

the total bill is : 1200

In [40]:
bill_amount=1000
tip_amount=200
tip_percentage=10
total_bill=bill_amount+tip_amount*tip_percentage/100
print(f"the total bill is : {total_bill}")

the total bill is : 1020.0

In [41]:
bill_amount=1000
tip_amount=200
tip_percentage=10
total_bill=bill_amount+tip_amount*tip_percentage/100
print("the total bill is : {}".format(total_bill))

the total bill is : 1020.0

In [42]:
length=100
breadth=50
area=length * breadth
print(f"the area of rectangle is : {area}")

the area of rectangle is : 5000

In [43]:
length=100
breadth=50
area=length * breadth
print("the area of rectangle is : {}".format(area))

the area of rectangle is : 5000

In [53]:
radius=20
pi=3.14
vol=4/3*pi*radius*radius*radius
print(f"the volume of sphere is : {vol}")

the volume of sphere is : 33493.333333333336

In [52]:
radius=20
pi=3.14
vol=4/3*pi*radius*radius*radius
print("the volume of sphere is : {}".format(vol))

the volume of sphere is : 33493.333333333336

In [60]:
dollars=1
rupees=85
print(f"amount of 1 dollar in rupees is : {rupees}")

amount of 1 dollar in rupees is : 85

In [61]:
dollars=1
rupees=85
print("amount 0f 1 dollar in rupees is : {}".format(rupees))

amount 0f 1 dollar in rupees is : 85

In [64]:
weight=1
pounds=2.2
print(f"weight in kgs convert into pounds : {pounds}")

weight in kgs convert into pounds : 2.2

In [65]:
weight=1
pounds=2.2
print("weight in kgs convert into pounds : {}".format(pounds))

weight in kgs convert into pounds : 2.2

In [68]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
n3=eval(input("enter the number3:"))
avg=(n1+n2+n3)/3

enter the number1: 100
enter the number2: 200
enter the number3: 300

In [69]:
avg

200.0

In [70]:
str1=input("enter a string1:")
str2=input("enter a string2:")
str3=input("enter a string3:")
str1+str2+str3

enter a string1: python
enter a string2: 10
enter a string3: hyd

'python10hyd'

In [71]:
print(f"my name is {str1} im {str2} years old and come from {str3}")

my name is python im 10 years old and come from hyd

In [72]:
radius= eval(input("enter the radius:"))
pi=3.14
area=pi*radius*radius

enter the radius: 20

In [73]:
area

1256.0

In [74]:
n1=int(input("enter the breadth:"))
n2=int(input("enter the height:"))
area=1/2*n1*n2

enter the breadth: 20
enter the height: 40

In [75]:
area

400.0

In [77]:
n1=eval(input("enter the breadth:"))
n2=eval(input("enter the height:"))
area=1/2*n1*n2

enter the breadth: 20
enter the height: 40

In [78]:
area

400.0

In [82]:
n1=int(input("enter the bill amount:"))
n2=int(input("enter the tip amount:"))
total=n1+n2

enter the bill amount: 1000
enter the tip amount: 200

In [83]:
total

1200

In [84]:
n1=int(input("enter the bill amount:"))
n2=int(input("enter the tip amount:"))
total_percentage=(n1/(n1+n2))*100

enter the bill amount: 1000
enter the tip amount: 200

In [85]:
total_percentage

83.33333333333334

In [86]:
r=radius=int(input("enter the radius:"))
pi=3.14
volume=pi*r*r*r

enter the radius: 20

In [87]:
volume

25120.0

In [88]:
conversion_rate=85
dollars=float(input("enter the amount in dollars:"))
rupees=conversion_rate*dollars

enter the amount in dollars: 1

In [89]:
rupees

85.0

In [90]:
conversion_rate=2.2
weight=float(input("enter the weight in kgs:"))
pounds=conversion_rate*weight

enter the weight in kgs: 1

In [91]:
pounds

2.2