**list comprehension**

- list comprehension is a way to write list operations in a single line

- when we apply for loop and if-else conditional statements then the code compilation becomes slow

- which means it takes much time 

- in order to avoid the time complexity we will use list comprehension

- list comprehension is a single line code

In [ ]:
**case-1: only for loop**

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]
# inside code no need  of append
list1=[<output var> <for loop>]

In [1]:
list1=[i for i in range(10)] # no need to give :
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# Q1)
input=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [12]:
# Q2)
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [2]:
# Q3)
input=['hyd','bengaluru','pune','mumbai']
for i in input:
    print(input.index(i)*10)

0
10
20
30

In [3]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
output

[0, 10, 20, 30]

In [6]:
# Q4)
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
sum(output)

60

In [7]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
**walrus operator**

In [12]:
input=['hyd','bengaluru','pune','mumbai']
sum=0
output=[sum:=sum+i for i in range(1,11)][-1]
output

55

In [ ]:
**case-2: for loop if condition**

In [ ]:
[<output> <for loop> <if condition>]

In [29]:
input=[1,2,3,4,5]
output=[f'even : {i}' for i in range(1,6) if i%2==0]
output

['even : 2', 'even : 4']

In [18]:
input=[1,2,3,4,5]
output=[f'even : {i}'  for i in input if i%2==0 ]
output

['even : 2', 'even : 4']

In [9]:
# Q5)
input=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in input:
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [26]:
input=[1,2,3,4,5,6,7,8,9,10]
sum=0
output=[sum:=sum+i for i in range(1,11)][-1]
output

55

In [20]:
# Q6)
input=['hyd','ben#galuru','pune','mu#mbai']
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['ben#galuru', 'mu#mbai']

In [21]:
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' in i]
output

['ben#galuru', 'mu#mbai']

In [22]:
# Q7)
input=['hyd','ben#galuru','pune','mu#mbai']
output=[]
for i in input:
    if '#' not in i:
        output.append(i)
output

['hyd', 'pune']

In [23]:
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' not in i]
output

['hyd', 'pune']

In [ ]:
**case-3: for loop if else**

In [ ]:
[<if output><if condition> <else> <else output> <for loop>]

In [25]:
input=[]
for i in range(1,10):
    if i%2==0:
        input.append(f"even : {i}")
    else: 
        input.append(f"odd : {i}")
input

['odd : 1',
 'even : 2',
 'odd : 3',
 'even : 4',
 'odd : 5',
 'even : 6',
 'odd : 7',
 'even : 8',
 'odd : 9']

In [38]:
input=[]
output=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
output

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [ ]:
**case-4: for-if-elif-else**

- in list comprehension we dont have elif representation

- elif also represent as **else+if**

- in elif we have **elif condition** available and **elif output**

- else elif_output and elif_condition

In [ ]:
[<if output> <if condition> else<if output> else<if condition> else<else output> <for loop>]

- **note:**instead of elif term write if

In [33]:
# Q8)
list=[45,55,65,75,85,95]
for i in list:
    if i>85:
        print(f'{i} : A grade')
    elif i>60:
        print(f'{i} : B grade')
    else:
        print(f'{i} : C grade')
list

45 : C grade
55 : C grade
65 : B grade
75 : B grade
85 : B grade
95 : A grade

[45, 55, 65, 75, 85, 95]

In [37]:
list=[45,55,65,75,85,95]
output=[f'{i} : A grade' if i>85 else f'{i} : B grade' if i>60 else f'{i} : C grade' for i in list]
output

['45 : C grade',
 '55 : C grade',
 '65 : B grade',
 '75 : B grade',
 '85 : B grade',
 '95 : A grade']

In [ ]:
**screening paper questions**

In [8]:
marks=[45,76,89,53,67,90,82,49,33,99]
# Q1)
for i in marks:
    if i>=50:
        print(marks.index(i))

1
2
3
4
5
6
9

In [10]:
output=[i for i in marks if i>=50]
output

[76, 89, 53, 67, 90, 82, 99]

In [11]:
# Q2)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=85:
        print(f"{i} : A")
    elif i>=70:
        print(f"{i} : B")

    elif i>=50:
        print(f"{i} : C")
    else:
        print(f"{i} : F")

45 : F
76 : B
89 : A
53 : C
67 : C
90 : A
82 : B
49 : F
33 : F
99 : A

In [16]:
output=[f"Marks = {i} : A grade" if i>=85 else f"Marks = {i} : B grade" if i>=70 else f"Marks = {i} : C grade" if i>=50 else f"{i} : F" for i in marks]
output

['45 : F',
 'Marks = 76 : B grade',
 'Marks = 89 : A grade',
 'Marks = 53 : C grade',
 'Marks = 67 : C grade',
 'Marks = 90 : A grade',
 'Marks = 82 : B grade',
 '49 : F',
 '33 : F',
 'Marks = 99 : A grade']

In [17]:
# Q3)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i<50:
        print(i+5)

50
54
38

In [18]:
output=[i+5 for i in marks if i<50]
output

[50, 54, 38]

In [20]:
# Q4) sort the values using sort method
marks=[45,76,89,53,67,90,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [21]:
marks=[45,76,89,53,67,90,82,49,33,99]
output=[max_val for i in range(3)]
output

[89, 89, 89]

In [24]:
# Q5)
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

In [ ]:
**distance between 2 points**
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
# find the distance between l2 with all other points from l1
# which is the maximum distance

In [ ]:
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]

In [27]:
import math
l1=[10,20]
l2=[30,40]
d1=l2[0]-l1[0]
d1_square=math.pow(d1,2)
d1_square
d2=l2[1]-l1[1]
d2_square=math.pow(d2,2)
d2_square
summ=d1_square+d2_square
math.sqrt(summ)

28.284271247461902

In [31]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902